@page "/Create"
@using TodoList.Client.Models;
@using System.Net;
@inject HttpClient Http
@inject NavigationManager navManager

<PageTitle>Create</PageTitle>

<h1>Create New Todo</h1>

<div class="container mt-5">

        <div>
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="Enter title" @bind="title">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="description" rows="3" placeholder="Enter description" @bind="description"></textarea>
        </div>
        <button class="btn btn-primary" @onclick="CreateNewTodoItem">Submit</button>
</div>

@code {
    private TodoItem? todoitem;
    private string title;
    private string description;

    protected override void OnInitialized()
    {
        Console.WriteLine("Hello");
    }

    protected async void CreateNewTodoItem()
    {
        Console.WriteLine("Create");

        todoitem = new TodoItem()
        {
            Title = title,
            Description = description,
            CreatedTimestamp = DateTime.UtcNow,
            LastModifiedTimestamp = DateTime.UtcNow,
            LastModifiedBy = DateTime.UtcNow
        };

        var result = await Http.PostAsJsonAsync($"https://localhost:7117/TodoItems/Create", todoitem);

        if (result.IsSuccessStatusCode)
        {
            navManager.NavigateTo($"/Details/{result.Content.ReadFromJsonAsync<TodoItem>().Result.Id}");
        }
    }
}