@page "/Edit/{Id:guid}"
@using TodoList.Client.Models;

@inject HttpClient Http
@inject NavigationManager navigationManager

<h1>Edit Todo Item</h1>

@if (todoitem == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form>
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" @bind-value="todoitem.Title" />
        </div>
        <div>
            <label for="description">Description:</label>
            <input id="description" @bind-value="todoitem.Description"></input>
        </div>
        <button type="button" @onclick="SaveChanges">Save Changes</button>
    </form>
}

@code {
    [Parameter]
    public Guid Id { get; set; }
    private TodoItem? todoitem;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync($"https://todolistapi20230406231150.azurewebsites.net/TodoItems/Edit/{Id}");

        if (response.IsSuccessStatusCode)
        {
            todoitem = await response.Content.ReadFromJsonAsync<TodoItem>();
        }
    }

    private async Task SaveChanges()
    {
        var response = await Http.PostAsJsonAsync($"https://todolistapi20230406231150.azurewebsites.net/TodoItems/Edit/{Id}", todoitem);

        if (response.IsSuccessStatusCode)
        {
            navigationManager.NavigateTo("/");
        }
        else
        {
            throw new Exception("Something went wrong");
        }
    }
}

