@page "/"
@using TodoList.Client.Models;
@inject HttpClient Http
@inject NavigationManager navManager

<PageTitle>TodoList</PageTitle>

<h1>Todo List</h1>

@if (todoitems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TodoItem item in todoitems)
            {
                <tr @onclick="() => GoToDetails(item.Id)" style="cursor: pointer;">
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TodoItem>? todoitems;


    protected override async Task OnInitializedAsync()
    {
        todoitems = await Http.GetFromJsonAsync<List<TodoItem>>("https://todolistapi20230406231150.azurewebsites.net/TodoItems");
    }

    public void GoToDetails(Guid? id)
    {
        navManager.NavigateTo($"/Details/{id}");
    }
}